<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>¡Error 404!</title>
    <link rel="icon" href="http://localhost:8000/IMG/icono/cart.png">
    <link rel="stylesheet" href="http://localhost:8000/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:8000/CSS/404.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col mt-5">
                <h5>Oops...</h5>
                <h6>Error 500</h6>
                <p>Ocurrió un error intentando cargar esta página.</p>
                <img class="img-fluid mx-auto d-block" src="http://localhost:8000/IMG/404/404.png" alt="">
            </div>
        </div>
    </div>  

    <script src="http://localhost:8000/JS/jquery.min.js"></script>
    <script src="http://localhost:8000/JS/bootstrap.min.js"></script>
</body>

</html>