<!DOCTYPE html>
<html lang="es">

<head>
    <title>Pagina - Intranet - Login</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/CSS/estilogeneral.css">

    <link rel="stylesheet" href="/CSS/bootstrap1.min.css">
    <script src="/JS/jquery.min.js"></script>
    <script src="/JS/popper.min.js"></script>
    <script src="/JS/adminLogin.js"></script>
    <script src="/JS/bootstrap1.min.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark">
                <a class="navbar-brand" href="/Admin/Login">NombreTitulo</a>
            </nav>
        </div>  
    </header>
    
    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-3"></div>
            <div class="col-xs-12 col-sm-8 col-md-6">
                <div class="container text-center">
                    <h2>Iniciar Sesión</h2>
                    <small id="notificacion" class="text-danger"></small>
                </div>
            </div>
            <div class="col-sm-2 col-md-3"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-0 col-sm-4 col-md-4"></div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="container">
                    <form action="javascript:void(0)" methot="post">
                        <div class="form-group">
                            <label for="usr">Correo:</label>
                            <input class="form-control form-control-sm" type="text" name="correo" id="correo" maxlength="20" placeholder="correo@ejemplo.com">
                            <small class="text-danger" id="alerta_correo"></small>
                        </div>
                        <div class="form-group">
                            <label for="psr">Contraseña:</label>
                            <input class="form-control form-control-sm" type="password" name="pass" id="pass" maxlength="20" placeholder=" ********">
                            <small class="text-danger" id="alerta_pass"></small>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                            <input class="btn btn-info boton" id="submit" type="submit" value="Ingresar">
                        </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4 col-md-4"></div>
        </div>
    </div>
    
</body>
</html>