<!DOCTYPE html>
<html lang="es">

<head>
    <title>Pagina - Intranet - Login</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="estilos/estilogeneral.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark">
                <a class="navbar-brand" href="Vista-LogIn.html">NombreTitulo</a>
            </nav>
        </div>  
    </header>
    
    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-3"></div>
            <div class="col-xs-12 col-sm-8 col-md-6">
                <div class="container">
                    <h2>Sistema Intranet NombrePagina</h2>
                </div>
            </div>
            <div class="col-sm-2 col-md-3"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-0 col-sm-4 col-md-4"></div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="container">
                    <form action="javascript:void(0)" methot="post">
                        <div class="form-group">
                            <label for="usr">Usuario:</label>
                            <input class="form-control form-control-sm" type="text" name="usr" id="usr" maxlength="20" required>
                        </div>
                        <div class="form-group">
                            <label for="psr">Contraseña:</label>
                            <input class="form-control form-control-sm" type="password" name="psw" id="psw" maxlength="20" required>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                            <input class="btn btn-info boton" type="submit" value="Continuar">
                        </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4 col-md-4"></div>
        </div>
    </div>
    
</body>
</html>