<!DOCTYPE html>
<html lang="es">
<head>
<title>Titulo de la web</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="../CSS/Crear.css" />

<link rel="stylesheet" href="../CSS/bootstrap1.min.css">
<script src="../JS/jquery.min.js"></script>
<script src="../JS/popper.min.js"></script>
<script src="../JS/bootstrap1.min.js"></script>
<script src="../JS/newCategoria.js"></script>
</head>
<body>
    <header>
    	<div class="container-fluid">
    		<p>Nombre empleado</p>
    	</div>
    	<div class="container page-header">
  			<h1>Titulo</h1>
		</div>
        
    </header>
    

    <div class="container" id="categoriaDiv">
        <div id="notificacion"></div>
        <form action="javascript:void(0)" method="post">
            <div class="form-group">
                <h2>Crear categoria</h2>
            </div>
            <div class="form-group">
                <label for="cod">Nombre:</label>
                <input class="form-control form-control-sm" type="text" name="nombre" id="nombre" maxlength="20">
            </div>
            <div class="form-group">
                <label for="cod">Descripcion:</label>
                <input class="form-control form-control-sm" type="textarea" name="descripcion" id="descripcion" maxlength="500">
            </div>
            <div class="form-group">
                <input class="boton" id="submit" type="submit" value="Crear">
            </div>
        </form>
    </div>
    
</body>
</html>