<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Titulo de la web</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../CSS/Crear.css" />

		<link rel="stylesheet" href="CSS/bootstrap1.min.css">
		<script src="JS/jquery.min.js"></script>
		<script src="JS/popper.min.js"></script>
		<script src="JS/bootstrap1.min.js"></script>
		<script src="JS/test.js"></script>
	</head>
	<body>
		<table class="table table-sm table-hover">
			<thead>
			<tr>
				<th></th>
				<th>Categoría</th>
			</tr>
			</thead>
			<tbody id="tablaCategoria">
			<% let tope = 5 %>
			<% for(let i = 0; i < tope; i++) {%>
				<tr>
					<td>
						<div class="form-check-inline">
							<input type="checkbox" class="form-check-input" id=<%= i + 1 %> name=<%= i + 1 %> value="true" style="display: none;">
							<label for=<%= i + 1 %>>Categoría <%= i + 1 %></label>
						</div>
					</td>
				</tr>
			<% } %>
			</tbody>
		</table>
	</body>
</html>