<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Titulo de la web</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../CSS/Crear.css" />

		<link rel="stylesheet" href="CSS/bootstrap1.min.css">
		<script src="JS/jquery.min.js"></script>
		<script src="JS/popper.min.js"></script>
		<script src="JS/bootstrap1.min.js"></script>
		<script src="JS/test.js"></script>
	</head>
	<body>
		<div id="EFrame">
			Texto de prueba
		</div><br />
		<div id="EFrame">
			Texto de prueba
		</div><br />
		<div id="EFrame">
			Texto de prueba
		</div><br />
		<div id="EFrame">
			Texto de prueba
		</div><br />
		<div id="EFrame">
			Texto de prueba
		</div><br />
		<div id="EFrame">
			Texto de prueba
		</div><br />
		<div id="EFrame">
			Texto de prueba
		</div><br />
		<div id="EFrame">
			Texto de prueba
		</div><br />
		<div id="EFrame">
			Texto de prueba
		</div><br />
		<div id="EFrame">
			Texto de prueba
		</div><br />
		<div id="desplegar">
			
		</div>
	</body>
</html>