<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Titulo de la web</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../CSS/Crear.css" />

		<link rel="stylesheet" href="CSS/bootstrap1.min.css">
		<script src="JS/jquery.min.js"></script>
		<script src="JS/popper.min.js"></script>
		<script src="JS/bootstrap1.min.js"></script>
		<script src="JS/test.js"></script>
	</head>
	<body>
		<form action="/test" method="post">
			<input type="text" id="nombre" name="nombre" placeholder="nombre"><br />
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input" name="namCat" id="idCategoria" value="valCat">
				</label>
			</div>
			<input type="submit" value="Enviar">
		</form>
	</body>
</html>