body{
	font-family: 'Open Sans', sans-serif;
	background: #EBEBED;
	overflow-x:hidden;
	font-family: 'Lobster', cursive;
	font-family: 'Kaushan Script', cursive;
	font-family: 'Roboto', sans-serif;
}

/*menu de navegacion */
header .navbar{
	width: 100%;
	position: fixed;
  	z-index: 100;
}

header .navbar .navbar-toggler{
	color: #fff;
}

.menu .navbar span{
	color: #EDF2F4;
	
}

.navbar{
	background: #2B2D42;
	/*color: #EDF2F4;*/
}

.navbar a{
	color: #EDF2F4;
}

.navbar a:hover{
	color: #E2C466;
}

.navbar .dropdown-menu{
	background: #1a1d21;
}

.navbar .dropdown-menu .dropdown-item{
	background: #1a1d21;
	color: #E2C466;
}

.navbar .dropdown-menu .dropdown-item:hover{
	background: #1c77c3;
	color: #EDF2F4;
}

/*Barra de busqueda */
.busqueda{
	margin-top: 10px;
}

.busqueda input[type="search"]{

	width: 100%;
}

.busqueda input[type="search"]:focus{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(226,196,102,0.85);
	-moz-box-shadow: 0px 0px 5px 0px rgba(226,196,102,0.85);
	box-shadow: 0px 0px 5px 0px rgba(226,196,102,0.85);
}

/* Botones Ingresar y crear tu cuenta */
.navbar .inicioregistro{
	display: flex;
	justify-content: center;
}

.navbar .btn-ingresar{
	border-radius: 20px;
	background: #2B2D42;
	color: #E2C466;
	padding: 5px 10px;
}

.navbar .btn-ingresar:hover{color: #EDF2F4;}

.navbar .btn-crear{
	border-radius: 20px;
	background: #2B2D42;
}

.navbar .btn-crear a{
	border-radius: 20px;
	color: #E2C466;
	background: #2B2D42;
	padding: 5px 10px;
	text-decoration: none;
}

.navbar .btn-crear a:hover{
	border-radius: 20px;
	color: #2B2D42;
	background: #EDF2F4;
}

/*modal*/

#ModalCenterTitle {
	font-family: 'Kaushan Script', cursive;
	font-size: 50px;
	font-weight: 400;
	color: #2B2D42;
}

.modal-body .titulo{
	font-family: 'Lobster', cursive;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	color: #2B2D42;
}

.modal-body .formulario label{
	color: #2B2D42;
	font-size: 16px;
	font-weight: 700;
}

.modal-body .nocuenta{
	text-align: center;
	color: #2B2D42;
}

.modal-body .nocuenta a{
	font-family: 'Lobster', cursive;
	text-decoration: none;
	color: #2B2D42;
}

.modal-body .nocuenta a:hover{
	color: #1A1D21;
}

.modal-footer .btn{border-radius: 20px;}

.modal-footer .cerrar{
	background: #1a1d21;
	color: #EDF2F4;
}

.modal-footer .cerrar:hover{
	background: #585a5d;
	color: #EDF2F4;
}

.modal-footer .ingresar{
	background: #ef233c;
	color: #EDF2F4;
}

.modal-footer .ingresar:hover{
	background: #cf425a;
	color: #EDF2F4;
}

/*Slidershow*/

.slider img{
	width: 100%;
	height: 500px;
}

.slider h5{
	padding: 10px 0;
	font-size: 30px;
	background: rgb(255,255,255,.4);
	text-align: center;
	color: #2B2D42;
}

.slider a{
	font-size: 20px;
	padding: 20px 0;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

/*Card's de Categorias*/
section p{
	text-align: center;
	font-weight: 300;
	font-size: 50px;
	color: #ef233c;
	padding: 20px 0;
}

section .card-title{
	text-align: center;
	font-weight: 400;
	padding-top: 15px;
	padding-bottom: 10px;
	color: #2B2D42;
}


section .card a{
	color: #ef233c;
}

section .card img{
	opacity: .8;
}
section .card img:hover{
	opacity: 1;
}

section .card a:hover{
	background: #ef233c;
	color: #EDF2F4;
}

/*Card's de Productos*/
section .tipos-de-productos {
	background: #1A1D21;
	padding: 20px;
}

section .tipos-de-productos p{
	font-weight: 600;
	font-size: 40px;
	padding: 20px 0;
	color: #EBEBED;
}

section .tipos-de-productos .card-block .btn{
	padding: 20px 5px;
}

section .tipos-de-productos a{
	color: #1A1D21;
}

section .tipos-de-productos a:hover{
	background: #1c77c3;
}

/*CARDS ARTICULOS*/
section .articulos .articulos_title p{
	font-size: 50px;
	font-weight: 300;
	color: #1c77c3;
}
section .articulos .card-title{
	font-size: 30px;
	font-weight: 500;
}

section .articulos p{
	font-size: 15px;
	font-weight: 400;
	color: #1A1D21;
	text-align: left;
}

section .articulos a:hover{
	text-decoration: none;
	background: none;
	color: #1c77c3;
}


/* Footer */

footer{
	background: #2B2D42;
	color: #E2C466;
	text-align: center;
	font-size: 10px;
	font-weight: 300;
	padding: 20px 20px;
}

footer h6{
	margin-bottom: 15px;
}

footer a{
	padding: 10px 15px;
	color: #E2C466;
	text-decoration: none;
	font-size: 12px;
	font-weight: 400;
}

footer a:hover{
	text-decoration: none;
	color: #EDF2F4;
}

footer p{
	line-height: 30px;
}



/*Responsive design*/
@media screen and (max-width: 960px){
	header .navbar{
		width: 100%;
		position: static;
	}

	section .img_responsive img{
		width: 100%;
		max-height: 250px;
	}

}